main {
  position: relative;
  width: 100vw;
  height: 100vh;

  background-size: cover;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
}
